h1 {
    color: orange;
    text-align: center;
}

header p {
    color:rgb(211, 147, 94);
}

footer p {
    color:brown;
}

header p span {
    color:rgb(38, 104, 71);
}

div p {
    color:rgb(22, 53, 43);
}

.color {
    background-color: rgb(134, 155, 194);
}